<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}</title>
  <link id="wsite-base-style" rel="stylesheet" href="https://cdn11.editmysite.com/css/sites.css?buildtime=1234">
  <link rel="stylesheet" href="https://cdn11.editmysite.com/css/old/fancybox.css?buildtime=1234">
  <link rel="stylesheet" href="https://cdn11.editmysite.com/css/social-icons.css?buildtime=1234" media="screen,projection">
  <link rel="stylesheet" href="files/main_style.css?v=1">
  <link href="https://cdn2.editmysite.com/fonts/Raleway/font.css?2" rel="stylesheet">
  <link href="https://cdn2.editmysite.com/fonts/Lora/font.css?2" rel="stylesheet">
  <script defer src="files/theme/files/site-components.js?v=1"></script>
</head>
<body class="{{BODY_CLASS}}">
  <div class="body-wrap">
    <div data-site-header></div>
    <div id="wrapper">
      <div class="bg-wrapper">
        <div data-site-navigation></div>
        {{CONTENT}}
      </div>
      <div data-site-footer></div>
    </div>
    <div data-site-mobile-nav></div>
  </div>
</body>
</html>
